# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Vercel build output (if any)
.vercel/

./data/images
./data/aug_images
./data/test